extends layout

block content
  h1= title
  p Welcome to #{title}, Cameron. 
  html
  body
    .jsonArea
      h2 HTML fields
      .displayArea
        button#insertMale.button Insert Male
        button#insertFemale.button Insert Female
        button#clear.button Clear
      hr
      .displayArea
        input#firstName.input(type="text" placeholder="First Name")
        input#lastName.input(type="text" placeholder="Last Name") 
        input#city.input(type="text" placeholder="City")
        input#state.input(type="text" placeholder="State")
        input#zip.input(type="text" placeholder="Zip Code")
      hr
      .displayArea
        div.radio
          input#male.radio(type="radio" name="sex" checked="checked")
          label Male
          input#female.radio(type="radio" name="sex")
          label Female
      br
      hr
      .displayArea
        button#getFirstName.button Get First Name
        button#getLocation.button Get City, State, Zip
        button#getAge.button Get Age
      hr
      .displayArea
        p#displayFirstName
        p#displayLastName
        p#displayCity
        p#displayState
        p#displayZip
      h2 JSON
      .displayArea
        button#loadWithJSON.button Load JSON with jquery.GetJSON
        button#loadWithAjax.button Load JSON with jquery.ajax
      hr
      .displayArea
        p tes
        ul#displayPresidents

