extends layout

block content
  h1= title
  p Welcome to #{title}, Cameron. 
  html
  body
    .jsonArea
      h2 HTML fields
      .displayArea
        button#insertMale.button Insert Male
        button#insertFemale.button Insert Female
        button#clear.button Clear
      hr
      .displayArea
        input#inputFirstName.input(type="text" placeholder="First Name")
        input#inputLastName.input(type="text" placeholder="Last Name") 
        input#inputCity.input(type="text" placeholder="City")
        input#inputState.input(type="text" placeholder="State")
        input#inputZip.input(type="text" placeholder="Zip Code")
        input#inputAge.input(type="text" placeholder="Age")
      hr
      .displayArea
        div.radio
          input#male.radio(type="radio" name="sex")
          label Male
        div.radio
          input#female.radio(type="radio" name="sex") 
          label Female
      hr
      .displayArea
        button#getFirstName.button Get First Name
        button#getLastName.button Get Last Name
        button#getCityStateZip.button Get City, State, Zip
        button#getAge.button Get Age
      hr
      .displayArea
        p
          span#firstName
          span 
          span#lastName 
        p
          span#city
          span 
          span#state 
          span 
          span#zip 
        p
          span#age
        p
          span#sex
      h2 JSON
      .displayArea
        button#loadWithJSON.button Load JSON with jquery.GetJSON
        button#loadWithAjax.button Load JSON with jquery.ajax
      hr
      .displayArea
        ul#jsonDisplay

