extends menu-mixin

block append content
  +container
    +jumbotron
      h1=title
      p Hello World JSON AJAX
  .mainArea
    +button("primary", "", "small", "getJson") Get JSON via .getJSON
    +button("primary", "", "small", "getAjax") Get JSON via AJAX

  .jsonArea
    +listGroup("list", "jsonDisplay")